
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.mw-interlanguage-selector,
.mw-interlanguage-selector:active {
    cursor: pointer;
    padding: 4px 6px 4px 25px;
    font-size: 13px;
    font-weight: normal;
    background-image: url(/w/extensions/UniversalLanguageSelector/resources/images/compact-links-trigger.png?b0c8e);
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2218%22 height=%2218%22 viewBox=%220 0 24 24%22%3E %3Cpath fill=%22%2372777d%22 d=%22M13 19l.8-3h5.3l.9 3h2.2L18 6h-3l-4.2 13H13zm3.5-11l2 6h-4l2-6zM5 4l.938 1.906H1V8h1.594C3.194 9.8 4 11.206 5 12.406c-1.1.7-4.313 1.781-4.313 1.781L2 16s3.487-1.387 4.688-2.188c1 .7 2.319 1.188 3.719 1.688l.594-2c-1-.3-1.988-.688-2.688-1.188 1.1-1.1 1.9-2.506 2.5-4.406h2.188l.5-2H7.938L7 4H5zm-.188 4h3.781c-.4 1.3-.906 2-1.906 3-1.1-1-1.475-1.7-1.875-3z%22/%3E %3C/svg%3E");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left 4px center;
    margin: 4px 0;
    text-align: left
}

.mw-interlanguage-selector:active,
.mw-interlanguage-selector.selector-open {
    background-color: #c8ccd1;
    color: #54595d
}
